<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server.EnableClipboard" value="True"/>
		<add key="Server.EnableHooks" value="True"/>
		<add key="Server.StopHotkey" value="Q:Ctrl:Shift:Alt"/>
		
		<add key="Server.Station.Localhost.Hotkey" value="F1:Shift"/>
		<add key="Server.Station.Localhost.LeftStation" value="Laptop"/>
		
		<!--Example client
		add key="Server.Station.Laptop.Enabled" value="True"/>
		add key="Server.Station.Laptop.Hotkey" value="F2:Shift"/>
		add key="Server.Station.Laptop.RightStation" value="Localhost"/>
		-->
	</appSettings>
</configuration>